* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.imagei {
  float: right;
  width: 208px;   /* Add this */
  height: 200px;
  background-color: #B2D6FF;
  position: fixed;
  bottom: 550px;
  right: 1230px;
}

.page {
  width: 300px;   /* Add this */
  height: 1000px;
  background-color: #B2D6FF;
  padding: 60px;
  position: fixed;
  padding-top: 1px;
  padding-left: 20px;
}

.contents {
  padding: 100px;
  position: fixed;
  top: 120px;
  padding-left: 30px;

}

a:link, a:visited {
  color: #5D6063;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.head {
  display: flex;
  justify-content: space-between;
  width: 280px;
  padding: 5px;
}
